<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">QR Code
    </ion-title>


   
    <ion-buttons  slot="end" class="carrinho" >
      <ion-icon class="carrinho" slot="start" name="basket"(click)="selectCarrinho()"> 
      </ion-icon>
      <ion-badge class="notifications-badge">5</ion-badge>
      <!-- <ion-badge class="notifications-badge">{{qtde()}}</ion-badge> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

</ion-content>
