<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="medium">Início
    </ion-title>


   
    <ion-buttons  slot="end" class="carrinho" >
      <ion-icon class="carrinho" slot="start" name="basket"> 
      </ion-icon>
      <ion-badge class="notifications-badge">0</ion-badge>
      <!-- <ion-badge class="notifications-badge">{{qtde()}}</ion-badge> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
</ion-content>
