<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="medium">Cesta Conectada
    </ion-title>


   
    <ion-buttons  slot="end" class="carrinho" >
      <ion-icon class="carrinho" slot="start" name="basket"> 
      </ion-icon>
      <ion-badge class="notifications-badge">3</ion-badge>
      <!-- <ion-badge class="notifications-badge">{{qtde()}}</ion-badge> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="valor">
    {{valorNum | real}}
    </div>
    <div class="valorTexto">
      Valor pedido atual: 
    </div>
    
  <ion-list lines="full">
    <ion-item-sliding  *ngFor="let item of cesta" >


    <ion-item >  
      <p slot="start"><img src="{{item.codProduto.fotoProduto}}" alt=""/></p>
      <p slot="end"     style="margin-left: 0px"> {{item.precoUnidadeProduto | real}}</p>

      <ion-label>
       
        {{item.codProduto.nomeProduto}}
        <p>
          Qtde: {{item.qtdeProduto}}
        </p>
 
      </ion-label>
    </ion-item>



   


  </ion-item-sliding>
  </ion-list>

<div *ngIf="cestaLiberada">
  <ion-card>
   
    <ion-card-header class="cestaFechada">
      <ion-card-subtitle>Cesta Fechada</ion-card-subtitle>
      <ion-card-title style="font-size:1em">Forma Pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group value="grape">
          <!-- <ion-list-header>
            <ion-label>selecione forma pagamento</ion-label>
          </ion-list-header> -->
          <ion-item>
            <ion-label>Cartão no Aplicativo (Crédito)</ion-label>
            <ion-radio slot="start" color="success" value="AppCredito"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Cartão no Aplicativo (Débito)</ion-label>
            <ion-radio slot="start" color="tertiary" value="AppDebito"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Pagamento no Caixa da Loja</ion-label>
            <ion-radio slot="start" color="medium" value="loja"></ion-radio>
          </ion-item>
        </ion-radio-group>

    
      </ion-list>

    </ion-card-content>
  </ion-card>
  <ion-button class="finalizarCompra" expand="full" color="secondary">Finalizar Compra</ion-button>
</div>

<div *ngIf="!cestaLiberada">
  <ion-card>
   
    <ion-card-header class="cestaAberta">
      <ion-card-subtitle>Cesta Aberta</ion-card-subtitle>
      <ion-card-title style="font-size:1em">Assim que terminar de adicionar todos items, vá ao caixa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Para liberar o pagamento e concluir sua compra
    </ion-card-content>
  </ion-card>
</div>


</ion-content>
