<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">QR Code
    </ion-title>


   
    <ion-buttons  slot="end" class="carrinho" >
      <ion-icon class="carrinho" slot="start" name="basket"> 
      </ion-icon>
      <ion-badge class="notifications-badge">5</ion-badge>
      <!-- <ion-badge class="notifications-badge">{{qtde()}}</ion-badge> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-list lines="full">
    <ion-item-sliding>
      <!-- <ion-item-sliding *ngFor="let item of items" (click)="selectItem(item)"> -->
    <ion-item > 
      <!-- <div *ngIf="item.foto">
        <p slot="start"><img src="http://feiranoapptcc-com-br.umbler.net/storage/{{item.foto}}" alt=""/></p>
      </div>
      <div *ngIf="!item.foto"> -->
        
        <p slot="start"><img src="https://static.natura.com/sites/default/files/styles/product_detail_square/public/products/96510_1_9.jpg" alt=""/></p>
      <!-- </div> -->
      
      <p slot="end"     style="margin-left: 0px"> R$10,50</p>
      <!-- <p slot="end"> {{item.preco | real}}</p> -->
      <ion-label>
        <!-- {{item.nomeItem}}  -->
        Sabonete líquido
        <p>
          Qtde:2
        </p>

        <!-- <p> {{item.descricaoItem}}</p> -->
       
      </ion-label>
    </ion-item>


    <ion-item > 
      <!-- <div *ngIf="item.foto">
        <p slot="start"><img src="http://feiranoapptcc-com-br.umbler.net/storage/{{item.foto}}" alt=""/></p>
      </div>
      <div *ngIf="!item.foto"> -->
        
        <p slot="start"><img src="https://img.clasf.com.br/2020/04/03/Sabonete-Natura-flor-de-lis-20200403234955.9910590015.jpg" alt=""/></p>
      <!-- </div> -->
      
      <p slot="end"> R$10,50</p>
      <!-- <p slot="end"> {{item.preco | real}}</p> -->
      <ion-label>
        <!-- {{item.nomeItem}}  -->
        Sabonete 
        <p>
          Qtde:2
        </p>
        <!-- <p> {{item.descricaoItem}}</p> -->
       
      </ion-label>
    </ion-item>
  </ion-item-sliding>
  </ion-list>

<div *ngIf="cestaLiberada">
  <ion-card>
   
    <ion-card-header class="cestaFechada">
      <ion-card-subtitle>Cesta Fechada</ion-card-subtitle>
      <ion-card-title style="font-size:1em">Forma Pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group value="grape">
          <!-- <ion-list-header>
            <ion-label>selecione forma pagamento</ion-label>
          </ion-list-header> -->
          <ion-item>
            <ion-label>Cartão no Aplicativo (Crédito)</ion-label>
            <ion-radio slot="start" color="success" value="AppCredito"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Cartão no Aplicativo (Débito)</ion-label>
            <ion-radio slot="start" color="tertiary" value="AppDebito"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Pagamento no Caixa da Loja</ion-label>
            <ion-radio slot="start" color="medium" value="loja"></ion-radio>
          </ion-item>
        </ion-radio-group>

    
      </ion-list>

    </ion-card-content>
  </ion-card>
  <ion-button class="finalizarCompra" expand="full" color="tertiary">Finalizar Compra</ion-button>
</div>

<div *ngIf="!cestaLiberada">
  <ion-card>
   
    <ion-card-header class="cestaAberta">
      <ion-card-subtitle>Cesta Aberta</ion-card-subtitle>
      <ion-card-title style="font-size:1em">Assim que terminar de adicionar todos items, vá ao caixa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Para liberar o pagamento e concluir sua compra
    </ion-card-content>
  </ion-card>
</div>


</ion-content>
